:root {
  --white: #FFF;
  --color-baltic-sea: #262626;
  --color-bleach-white: #fff1dc;
  --color-bright-blue: #0b68ff;
  --color-cantaloupe: #ffad2e;
  --color-link-water: #d8e7ff;
  --color-mountain-mist: #979797;
  --color-paris-green: #38d096;
  --color-periwinkle: #b9d4ff;
  --color-snowy-mint: #d9ffe1;
  --color-white-lilac: #f7f7fa;
  --color-white: #ffffff;
  --color-soft-peach: #ebedf4;
  --color-ghost-white: #f5f9ff;
  --color-pale-yellow: #ffffee;
}
