.col {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-baltic-sea);
  text-align: center;
  position: sticky;
  inset-inline-end: 0;
  z-index: 1;
  background: var(--color-periwinkle);
}
