.header {
  width: 100%;
  padding: 13px 15px 5px 15px;
  margin-right: auto;
  margin-left: auto;
  background: var(--color-white-lilac);
}

.durationRow {
  margin: 10px 0 20px 0;
}

.addTrackBtn {
  margin-bottom: 5px;
}
