.bar {
  background: #ffffff;
  width: 100%;
  padding: 0 10px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 46px;
  background: #d8d8d8;
  border-radius: 15px;
}
